html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.banner {
  overflow: hidden;
  max-height: 500px;
  position: relative;
}

.img-flex {
  display: block;
  width: 100%;
}
