html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.banner {
  overflow: hidden;
  max-height: 500px;
  position: relative;
  align-items: center;
}

.img-flex {
  display: block;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  max-width: 45em;
  width: 100%;
}

.picture {
  position: absolute;
  transform: translate(20%, 60%);
  top: -80rem;
  bottom: 50rem;
}

img {

}

h2 {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

.text {
  position: absolute;
  transform: translate(20%, 60%);
  top: -80rem;
  bottom: 50rem;
}

p {
  font-size: 1.5rem;
}

.btn {
  font-size: 1.5rem;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  color: #fff;
  background-color: #000;
}
